* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex; 
  justify-content: space-between;
  padding: 16px 24px;
}

.menu {
  width: 32px;
}

.logo {
  width: 64px;
}

.container {
  height: 100vh;
  background-color: rgba(230, 245, 255, 0.7);
  backdrop-filter: blur(16px);
}