* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Rajdhani", system-ui;
  font-weight: 300;
  font-style: normal;
}

header {
  display: flex; 
  justify-content: space-between;
  padding: 16px 32px;
  padding-top: 32px;
}

.menu {
  width: 32px;
}

.logo {
  width: 64px;
}

.container {
  height: 100vh;
  background-color: rgba(230, 245, 255, 0.7);
  backdrop-filter: blur(16px);
}

.delete {
  width: 32px;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digits-container {
  display: flex;
  width: 100vw;
  height: 100vw;
  position: absolute;
  bottom: 0;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  height: 100%;
  font-size: 40px;
  border-radius: 0;
  border: 1px solid #99a5a825;
  font-family: "Rajdhani", system-ui;
  font-weight: 400;
  font-style: normal;
}

.column:last-of-type > button {
  flex: 1;
}

.column:last-of-type > button:last-of-type {
  flex: 2.02;
  background-color: #09090b;
  color: white;
}

.number-button {
  background-color: #ffffff33;
}

.operation-button, .dot-button, .delete-button, .ac-button {
  background-color: #d6d6d666;
}

.operation-button {
  font-size: 56px;
  font-weight: 300;
}

.mod-button {
  font-size: 32px;
  font-weight: 400;
}

.input {
  font-size: 96px;
  width: 100vw;
  text-align: end;
  padding: 0px 32px;
}

.last-input {
  font-size: 64px;
  width: 100vw;
  text-align: end;
  padding: 0px 32px;
  margin-bottom: -16px;
  color: rgba(0, 0, 0, 0.541);
}